.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.datas {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

.datas p {
  min-width: 40px;
  min-height: 40px;
}

input {
  height: 50px;
  width: 250px;
  background-color: black;
  border: 0;
  margin: 10px;
  border-radius: 2px;
  color: white;
  padding: 5px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  height: 50px;
  width: 100px;
  margin-left: 10px;
  background-color: rgb(0, 170, 255);
  border: 0;
}
.showLocation {
  color: white;
  font-size: 2rem;
  margin: 30px 0px 30px 0px;
}
.temperature,
.time {
  color: white;
  font-weight: 400;
}
.temperature {
  position: absolute;

  transform: rotate(-90deg);
  top: 500px;
  left: 200px;
}
svg {
  position: relative;
}
